* {
  box-sizing: border-box;
}
/* --- flex-container --- */
section {
  /* common css */
  border: 2px solid green;
  padding: 5px;
  /* flex properties */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* --- flex-child --- */
div {
  /* common css */
  border: 2px solid blue;
  padding: 5px;

  /*flex properties */
}

.logo {
  margin-right: auto;
}

/* div + div {
  margin-left: 10px;
} => gap */

#painty_root {
  border: none;
}

section {
  max-width: 1000px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

footer {
  display: flex;
  gap: 15px;
}

article {
  border: 5px solid red;
  width: 100%;
  padding: 10px;
}
