* {
  box-sizing: border-box;
}
header,
aside,
main,
footer {
  border: 2px solid orange;
  padding: 10px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.center-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  min-width: 320px;
  width: 100%;
  flex-grow: 1;
}
aside {
  width: 30%;
}
main {
  width: 70%;
}
footer {
  margin-top: auto;
}
