@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
}
header {
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 36px; /* em, rem*/ /*64*/
  font-weight: 600;
}
.sub-main-title {
  text-align: center;
  font-size: 15px;
}
.black-sub-main-title {
  background-color: black;
  color: #f1f1f1;
}
